<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17A264c</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Lazy</string>
	<key>CFBundleExecutable</key>
	<string>Lazy</string>
	<key>CFBundleIdentifier</key>
	<string>nangezao.LazyPlugin.Lazy</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Lazy</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>9M136h</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>17A263z</string>
	<key>DTSDKName</key>
	<string>macosx10.13</string>
	<key>DTXcode</key>
	<string>0900</string>
	<key>DTXcodeBuild</key>
	<string>9M136h</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.11</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>XCSourceEditorCommandDefinitions</key>
			<array>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>Lazy.SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>Getter</string>
					<key>XCSourceEditorCommandName</key>
					<string>Getter</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>Lazy.SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>MacroRefactor</string>
					<key>XCSourceEditorCommandName</key>
					<string>MacroRefactor</string>
				</dict>
			</array>
			<key>XCSourceEditorExtensionPrincipalClass</key>
			<string>Lazy.SourceEditorExtension</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.dt.Xcode.extension.source-editor</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2016年 Tang,Nan(MAD). All rights reserved.</string>
</dict>
</plist>
